<!-- COPY THE CONTENTS OF THIS FILE TO YOUR TABLE VIEW -->
<!-- PS: CHANGE THE CLASSES AS REQUIRED. DO NOT CHANGE THE ACTION, NAME AND VALUE ATTRIBUTES -->

{% extends 'base_configuration.html' %}

{% block content %}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Table View</h3>
                            <div class="nk-block-des text-soft">
                                <!-- <p>You have total 2,595 users.</p> -->
                                {% if messages %}
                                    {% for message in messages %}   
                                        <div class="example-alert">
                                            <div class="alert alert-{{ message.tags}} alert-dismissible alert-icon"><strong>{{message}}</strong><button class="close" data-bs-dismiss="alert"></button>
                                            </div>
                                        </div>
                                    {% endfor %}   
                                {% endif %}
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">
                            <div class="toggle-wrap nk-block-tools-toggle">
                                <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                <div class="toggle-expand-content" data-content="pageMenu">
                                    <ul class="nk-block-tools g-3">
                                        
                                        <li class="nk-block-tools-opt">
                                            <div class="drodown">
                                                <form action="{% url redirect %}" method="get">
                                                    <button class="btn btn-primary" type="submit" name="action" value="create"><em class="icon ni ni-plus"></em>Create</button>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .toggle-wrap -->
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered card-stretch">
                        <div class="card-inner-group">
                            <div class="card-inner position-relative card-tools-toggle">
                                <div class="card-title-group">
                                    <div class="card-tools">
                                        <div class="form-inline flex-nowrap gx-3">
                                            <form action="{% url redirect %}" method="GET">
                                                <div class="btn-wrap">
                                                    <span class="d-none d-md-block"><button class="btn btn-dim btn-outline-light" type="submit" name="action" value="All">View All</button></span>
                                                </div>
                                            </form>
                                            
                                        </div><!-- .form-inline -->
                                    </div><!-- .card-tools -->
                                    <div class="card-tools me-n1">
                                        <ul class="btn-toolbar gx-1">
                                            <li>
                                                <a href="{% url redirect %}" class="btn btn-icon search-toggle toggle-search" data-target="search"><em class="icon ni ni-search"></em></a>
                                            </li><!-- li --> 
                                        </ul><!-- .btn-toolbar -->
                                    </div><!-- .card-tools -->
                                </div><!-- .card-title-group -->
                                <form action="{% url redirect %}" method="GET">
                                    <div class="card-search search-wrap" data-search="search">
                                        <div class="card-body">
                                            <div class="search-content">
                                                <a href="{% url redirect %}" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                                <input type="text" class="form-control border-transparent form-focus-none" placeholder="Search by columns mentioned below" name="search">
                                                <button type="submit" class="search-submit btn btn-icon" name="action" value="search"><em class="icon ni ni-search"></em></button>
                                            </div>
                                        </div>
                                    </div>
                                </form><!-- .card-search -->
                            </div><!-- .card-inner -->
                            <div class="card-inner p-0">
                                <div class="nk-tb-list nk-tb-ulist is-compact">
                                    <div class="nk-tb-item nk-tb-head">
                                        <div class="nk-tb-col tb-col-md"><b class="sub-text">Sr. No.</b></div>
                                         {% for i in JsonForm.HTML_table.headers %}
                                        <div class="nk-tb-col tb-col-md">
                                          <b class="sub-text">{{i}}</b>
                                        </div>
                                        {% endfor %}
                                        <div class="nk-tb-col nk-tb-col-tools"></div>
                                    </div><!-- .nk-tb-item -->
                                    {% for i in page_obj %}
                                    <div class="nk-tb-item">
                                        <div class="nk-tb-col tb-col-md">
                                            <span>{{ starting_sr_no|add:forloop.counter0 }}</span>
                                        </div>
                                        {% for value in values %}
                                        {% if value.type == 'file' %}
                                        <div class="nk-tb-col tb-col-md">
                                          <span><strong><a href="{{i|get:value}}" target="_blank">click here</a></strong></span>
                                        </div>
                                        {% elif value.name == 'checkbox' %}
                                        <div class="nk-tb-col tb-col-md">
                                          {% for j in i.checkbox %}
                                          <span>
                                            <ul>
                                              <li style="list-style-type:disc">{{j}}</li>
                                            </ul>
                                          </span>
                                          {% endfor %}  
                                        </div>
                                        {% else %}
                                        <div class="nk-tb-col tb-col-md">
                                          <span>{{i|get:value}}</span> 
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        <div class="nk-tb-col nk-tb-col-tools">
                                            <ul class="nk-tb-actions gx-2">
                                                <li>
                                                    <div class="drodown">
                                                        <a href="#" class="btn btn-sm btn-icon btn-trigger dropdown-toggle" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a> 
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <ul class="link-list-opt no-bdr">
                                                                <li>
                                                                    <form action="{% url redirect %}" method="get">
                                                                        <input type="text" hidden name="id" value="{{i.id}}">
                                                                        <span>
                                                                            <button class="btn btn-icon" type="submit" name="action" value="edit">
                                                                            <em class="icon ni ni-edit"></em>Edit
                                                                            </button
                                                                        ></span>
                                                                    </form>
                                                                </li>
                                                                <li>
                                                                  <button onclick="confirmDelete({{i.id}})" class="btn btn-icon" type="submit" name="action" value="delete">
                                                                  <em class="icon ni ni-trash" id='delete-obj' data-url="{% url 'json-config' %}"></em>Delete
                                                                </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- .nk-tb-item -->
                                    {% endfor %}
                                </div><!-- .nk-tb-list -->
                            </div><!-- .card-inner -->
                            <div class="card-inner">
                                <div class="nk-block-between-md g-3">
                                    <div class="g">
                                        <ul class="pagination justify-content-center justify-content-md-start">
                                            {% if page_obj.has_previous %}
                                            <li class="page-item"><a class="page-link"
                                                    href="{{pagination_url}}page={{ page_obj.previous_page_number }}">Prev</a>
                                            </li>
                                            {% endif %}
                                            {% for num in page_obj.paginator.page_range %}
                                            {% if page_obj.number == num %}
                                            <li class="page-item"><a class="page-link"
                                                    href="{{pagination_url}}page={{ num }}">{{num}}</a></li>
                                            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                                                <li class="page-item"><a class="page-link"
                                                    href="{{pagination_url}}page={{ num }}">{{ num }}</a>
                                                </li>
                                                {% endif %}
                                                {% endfor %}
                                                {% if page_obj.has_next %}
                                                <li class="page-item"><a class="page-link"
                                                        href="{{pagination_url}}page={{ page_obj.next_page_number }}">Next</a>
                                                </li>
                                                {% endif %}

                                        </ul>
                                        <!-- .pagination -->
                                    </div>
                                    <div class="g">
                                        <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
                                            <div>Page</div>
                                            <div>
                                                <form action="{% url 'json-config' %}" method="GET">
                                                <select class="form-select" name="entries" onchange="this.form.submit()">
                                                    <option value="" selected disabled>--select--</option>
                                                    <option value="25">25</option>
                                                    <option value="30">30</option>
                                                    <option value="40">40</option>
                                                    <option value="50">50</option>
                                                    <option value="60">60</option>
                                                    <option value="70">70</option>
                                                    <option value="80">80</option>
                                                    <option value="90">90</option>
                                                    <option value="100">100</option>
                                                </select>
                                                </form>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- .pagination-goto -->
                                </div>
                            </div><!-- .card-inner -->
                        </div><!-- .card-inner-group -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- END OF TABLE -->